.addburger_container {
  display: flex;
  width:60%;
}

#addBurgerForm {
  display: flex;
  flex-direction:column;
  width: 45%;
  margin: 15px;
  margin-left:35em;
}

.addBurgerField {
  margin: 7px 0;
}

.add-burger-background {
  background: url("../Images/addburger.jpeg"), url("../Images/burger-gif.gif");
  background-position: right, left ;
  background-repeat:no-repeat ;

}
/* ::-webkit-scrollbar {
  background: hidden;  /* Optional: just make scrollbar invisible */

/* .addburger_background {
  background-image: url("../Images/addburger.jpeg");
  height:120vh;
  width:45%;
  position:relative;
  right: -50px;
  background-attachment: fixed;
  background-repeat: no-repeat;
} */