#addBurgerForm {
  display: flex;
  flex-direction:column;
  width: 48%;
  margin: 15px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-transform: uppercase;
  font-weight:500;
}

input{
  border-radius: 15px;
  border: 3px solid #212529;
  padding: 3px 0 3px 15px;
}

.addBurgerField {
  margin: 7px 0;
}

.addBurger_background {
  background: url("../Images/addburger.jpeg");
  background-position: right;
  background-repeat:no-repeat;
  margin-right: 25px;
}

.vegCheck {
  display: flex;
  flex-direction: row;
}

.veg {
  padding: 0 7px;
}

#burgerVegetarian{
  margin-top: 6px;
}

.addBurgerSubmit {
  border-radius: 15px;
  background-color:#212529;
  text-transform: uppercase;
  color:white;
  font-weight:900;
  font-size:1.2em;
  margin-top:7px;
}