.burgerlist {
  display: flex;
  justify-content: flex-end;
}
.burgers-page-background {
  background-image: url("../Images/burger-list-page.jpeg") ;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.restaurant-burgers-list {
  height: 789px;
  overflow-x: hidden;
}
::-webkit-scrollbar {display:none;}


.burgers-title {
  color: white;
  display: flex;
  padding-left: 15px;
  text-shadow: 3px 3px 6px #212529;
}

.burger-top{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-right: 5em;
  padding-top: 1em;

}
.restaurant-burgers:hover {
  opacity: 1;
}
.clickable-box {
  text-decoration: none;
  color:#212529;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight:500;
}
.restaurant-burgers {
  display: flex;
  align-items: center;
  margin: 2em;
  justify-content: space-between;
  border: 3px solid #212529;
  border-radius: 15px;
  padding:2em;
  background-color: white;
  opacity: 0.9;
}
.restaurant-name {
  display: flex;
  justify-content: center;
}