.logo {
  font-size: 28px;
  padding-left: 15px;
}

#rightNav {
  display: flex;
  position: absolute;
  right: 15px;
}

#rightNav a{
  color: white;
  text-decoration: none;
  padding-right: 15px;
}

nav.navbar.navbar-expand.navbar-dark.bg-dark {
  background-color: #354034;
}

.logout-button {
  cursor:pointer;
}