.h1-register {
  display: flex;
  justify-content: center;
  margin-top:1em;
}

#addRegisterForm {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  width: 250px;
  margin: 15px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight:500;
  padding-top: 100px;
}

.addRegister_background {
  background: url("../Images/burgertime-register.jpeg");
  background-position: right;
  background-repeat:no-repeat;

  height: 900px;
}

.add-registerfield{
  margin: 7px;
}

.addRegisterSubmit {
  border-radius: 15px;
  background-color:#212529;
  text-transform: uppercase;
  color:white;
  font-weight:900;
  font-size:1.2em;
  margin-top:7px;
  margin-left: 7px;
  width: 75%;
}

::-webkit-scrollbar {
  background: hidden;  /* Optional: just make scrollbar invisible */
}