.main-restaurant {
  display: flex;
  align-items: center;
  margin-top: 5em;
  margin-bottom: 2.5em;
  background-color: black;
  opacity: 0.6;
}
.left-restaurant {
  width:40%;
  color:white;
}
.left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5em;
}
.locations-drop {
  display: flex;
  justify-content: center;
}
.logo-restaurant {
  display:flex;
}
.desc-restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:2em;
  color:white;
}
.restaurant-background {
  background-image: url('../Images/individual-restaurant.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.restaurant-map {
  margin-top: 10em;
  opacity: 0.8;
}
.like-dislike {
  display: flex;
  justify-content: flex-end;
}